.nav-enlace {
  display: inline-block;
  background-color: rgb(136, 127, 255);
  padding: 10px 30px;
  color: aliceblue;
  text-decoration: none;
}
.nav-enlace:hover {
  background-color: blueviolet;
}

nav {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  justify-content: center;
}
.Hero {
  background-color: rgb(0, 255, 76);
}

.Experience {
  background-color: rgb(255, 60, 0);
}

.About-Me {
  background-color: rgb(255, 123, 0);
}

.Skills {
  background-color: rgb(153, 0, 255);
}

.Contact-Me {
  background-color: rgb(208, 255, 0);
}
.nav-button {
  background-color: salmon;
  color: #fff;
  padding: 10px 0;
  border: 2px solid #fff;
  display: none;
}
@media (max-width: 600px) {
  nav {
    background-color: green;
    flex-direction: column;
  }

  .nav-enlace {
    margin: 10px 0;
  }
  .nav-button {
    display: inline-block;
  }

  .desaparecer {
    display: none;
  }
}
